<div id="formulario_title" style="margin: 0 auto;width:50%;" >
  <h3 align="center" style="color:white;font-size:130%;line-height: 120%;">Lista de Membresias</h3>
</div>

<div class="row">
  <div class="col-xs-12">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Buscar...">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button"><span class="icon-magnifying-glass"></span></button>
      </span>
    </div><!-- /input-group -->
  </div><!-- /.col-lg-6 -->
</div><!-- /.row -->

<br>
  <div class="table-responsive">          
  <table class="table">
    <thead>
      <tr class="active">
          <th>Nombre</th>
          <th>Monto</th>
          <th>Estatus</th>
        <th colspan="3"></th>
      </tr>
    </thead>
    <tbody>
    <% @memberships.each do |membership| %>
      <%if membership.estatus =='A' %>
      <tr id="activos">
        <td><%= membership.nombre %></td>
        <td><%= membership.monto %></td>
        <td><%= membership.estatus %></td>
        <td><%= link_to 'Mostrar', membership %></td>
        <td><%= link_to 'Editar', edit_membership_path(membership) %></td>
        <td><%= link_to 'Eliminar', membership, method: :delete, data: { confirm: '¿Estás seguro?' } %></td>
      </tr>
      <%else %>
      <tr id="eliminados">
        <td><%= membership.nombre %></td>
        <td><%= membership.monto %></td>
        <td><%= membership.estatus %></td>
        <td><%= link_to 'Mostrar', membership %></td>
        <td><%= link_to 'Editar', edit_membership_path(membership) %></td>
        <td><%= link_to 'Eliminar', membership, method: :delete, data: { confirm: '¿Estás seguro?' } %></td>
      </tr>
      <%end%>

    <% end %>
    </tbody>
  </table>
  </div>
<%= link_to 'Nueva Membresia', new_membership_path %>