<div id="formulario_title" style="margin: 0 auto;width:50%;" >
  <h3 align="center" style="color:white;font-size:130%;line-height: 120%;">Clientes de la empresa</h3>
</div>
 
 <div class="row">
  <div class="col-xs-12">
    <div class="input-group">
      <%= text_field_tag 'txtbuscar_clientes',nil, placeholder: 'Buscar...', class: 'form-control' %>
      <span class="input-group-btn">
      <%= button_tag '', class: 'btn btn-default',id: 'bt_buscar_clientes', type: 'button' do%>
        <%= content_tag(:span,'', class: "icon-magnifying-glass") %>
      <%end %>
          </span>
    </div>
  </div><!-- /.col-lg-6 -->
</div><!-- /.row -->

<div id="resultados2">
  <div class="table-responsive">          
  <table class="table">
    <thead>
      <tr class="active" style="font-size:12px;">
      <th>Foto Perfil</th>
      <th>Nombre</th>
      <th>Apellido</th>
      <th>Sexo</th>
      <th>Edad</th>
      <th>Direccion</th>
      <th>Telefono</th>
      <th>Email</th>
        <th colspan="3"></th>
      </tr>
    </thead>
    <tbody>
    <% @clientes.each do |client| %>
     
      <tr id="activos">
        <td><%= image_tag (client.user.avatar.url), size: '60x60' %></td>
        <td><%= client.nombre %></td>
        <td><%= client.apellido %></td>
        <td><%= client.sexo %></td>
        <td><%= client.edad %></td>
        <td><%= client.direccion %></td>
        <td><%= client.telefono %></td>
        <td><%= client.email %></td>
        <td><%= link_to 'Mostrar', '#' %></td>
        <td><%= link_to 'Editar', '#' %></td>
        <td><%= link_to 'Eliminar', '#' %></td>
      </tr>
     
    <% end %>
    </tbody>
  </table>
  </div>
<!--<%= link_to 'Nuevo Rol', new_role_path %>-->
</div>