		<section class="row">
            <div class="col-xs-12 col-sm-3"><!-- 3 Columnas Boton de Menu y Logo o Texto --> 
                <div id="menu_desplegable">
                    <button type="button" id="menu"></button> 
                </div>
                <div id="logo"></div>

                <nav id="arbol">
                    <%if session[:user_role_id] == 1%>
                    <ul id="padre">
                        <li class="submenu">
                            <a href="#"><span class="icon-rocket"></span>ROL<span class="icon-chevron-right e"></span></a>
                            <ul class="hijo">
                                <li><%= link_to 'Roles', roles_path %></li>
                                <li><%= link_to 'Permisos', permissions_path %></li>
                                <li><%= link_to 'Ajustes', settings_path %></li>
                            </ul>
                        </li>
                        <li class="submenu">
                            <a href="#"><span class="icon-rocket"></span>EMPRESA<span class="icon-chevron-right e"></span></a>
                            <ul class="hijo">
                                <li><%= link_to 'Perfil', companies_path %></li>
                            </ul>
                        </li>
                        <li class="submenu">
                            <a href="#"><span class="icon-rocket"></span>MEMBRESIA<span class="icon-chevron-right e"></span></a>
                            <ul class="hijo">
                                <li><%= link_to 'Membresias', memberships_path %></li>
                                <li><%= link_to 'Beneficios', benefits_path %></li>
                                <li><%= link_to 'Configuracion', configurations_path %></li>
                            </ul>
                        </li>
                        <li class="submenu">
                            <%= link_to 'PROMOCION', promotion_afiliations_path %>
                        </li>
                    </ul>
                    <%end%>
                </nav>

            </div><!-- Fin 3 Columnas --> 

            <div class="col-xs-12 col-sm-4">
                <div class="input-group" id="buscar">
                  <input type="text" class="form-control" id="txtbuscar">
                  <span class="input-group-btn">
                    <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                  </span>
                </div>
            </div>

            <div class="col-xs-4 col-sm-1">
                <div id="liveclock" class="clock"></div>
            </div>

            <div class="col-xs-8 col-sm-4">
                <div class="dropdown">
                    <p id="p_user" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
                        <%=session[:user_name] %>
                        <span class="caret"></span>
                    </p>
                    <ul class="dropdown-menu" style="margin-top: 12px; font-size:11px;">
                    <div class="arrow"></div>
                      <li role="presentation"><a tabindex="-1" href="#">Mi Perfil</a></li>
                      <li role="presentation" class="divider"></li>
                      <li role="presentation"><%= link_to '¿Cerrar Sesión?', logout_path, method: :delete%></li>
                    </ul>
                </div>
            </div>    
        </section>