<!DOCTYPE html>
<html>
<head>
  <%= favicon_link_tag 'favicon.png' %>
  <title>Atlas CRM</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">

</head>
<body>
<header>
	<div class="container-fluid" id="header">
  <%= if session[:user_name].nil?
    render 'layouts/header' 
  else
    if session[:user_role_id] == 1
      render 'layouts/header2' 
    else
      render 'layouts/header' 
    end  
  end%>
	</div>
</header>

<div class="container-fluid" id="aplicacion">
  <%= yield %>
</div>

<footer>
  <%= render 'layouts/footer' %>
</footer>
 <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</body>
</html>
